<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- important for responsiveness -->
  <title>HIC Project</title>
  <link rel="icon" type="image/x-icon" href="/static/pictures/creeperIcon.png">
  <link rel="stylesheet" href="/static/styles/index.css">
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <div class="logo">
        HIC Project<br>Group Nine
      </div>
      <nav>
        <button onclick="location.href='index.html'">Home</button>
        <button onclick="location.href='info.html'">Info</button>
        <h3>Topics</h3>
        <button onclick="location.href='generated.html'">Generated Structures</button>
        <button onclick="location.href='tech.html'">Technical</button>
        <button onclick="location.href='other.html'">Other Media</button>
        <button onclick="location.href='buzzwords.html'">Buzzwords</button>
        <button onclick="location.href='biomes.html'">Biomes</button>
        <button onclick="location.href='vote.html'">Vote!</button>
        <h3>Authors</h3>
        <button onclick="location.href='about.html'">About Us</button>
      </nav>
    </aside>

    <main class="content">
      <h1>Home</h1>
      <hr>
      <div class="text-image-wrap">
        <div class="text-block">
          <h2>Wil Nahra</h2>
          <p></p>
        </div>
        <img src="/static/pictures/MainMenu_Minceraft.png" alt="MinecraftLogo" height="275" sizes="500">
      </div>
      <div class="text-image-wrap">
        <img src="/static/pictures/Herobrine_Sighting.png" alt="spooky" height="275" width="500">
        <div class="text-block">
          <h2>Cayden Jones</h2>
          <p></p>
        </div>
      </div>
      <div class="text-image-wrap">
        <div class="text-block">
          <h2>Chase Osborne</h2>
          <p></p>
        </div>
        <img src="/static/pictures/MainMenu_Minceraft.png" alt="MinecraftLogo" height="275" sizes="500">
      </div>
      <div class="text-image-wrap">
        <img src="/static/pictures/Herobrine_Sighting.png" alt="spooky" height="275" width="500">
        <div class="text-block">
          <h2>Sandy Zang</h2>
          <p></p>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
<div>