<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- important for responsiveness -->
  <title>Biomes</title>
  <link rel="stylesheet" href="/static/styles/index.css">
  <link rel="icon" type="image/x-icon" href="/static/pictures/creeperIcon.png">
</head>

<style>
   .dButton button {
    font-family: 'Minecraftia';
    text-shadow: 2px 2px 2px black;
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #6b6b6b;
    color: white;
    border: 1px solid black;
    transition: background-color 0.1s ease;
    white-space: nowrap;
    overflow: hidden;
    
  }
  .dButton button:hover {
  background-color: #7a7a7a;
  color: #7a7a7a;
}
  .OW {
    background-image: url('https://static.planetminecraft.com/files/image/minecraft/texture-pack/2021/709/14376136-pack_l.webp');
    background-size: 100px;
  }
  .Nether {
    background-image: url('https://preview.redd.it/which-nether-rack-texture-do-you-prefer-more-v0-p99biwyaswsa1.jpg?width=640&crop=smart&auto=webp&s=4ad4314046aa365729de65d03ce94537ce7cf9bb');
    background-size: 100px;
    background-position: center;
  }
  .End {
    background-image: url('https://i.pinimg.com/564x/92/a5/45/92a5450b2a48e64c2d7a1b43a43d5e75.jpg');
    background-size: 100px;
    background-position: center;
  }

</style>

<body>
  <div class="container">
    <aside class="sidebar">
      <div class="logo">
        HIC Project<br>Group Nine
      </div>
      <nav>
        <button onclick="location.href='index.html'">Home</button>
        <button onclick="location.href='info.html'">Info</button>
        <h3>Topics</h3>
        <button onclick="location.href='generated.html'">Generated Structures</button>
        <button onclick="location.href='tech.html'">Technical</button>
        <button onclick="location.href='other.html'">Other Media</button>
        <button onclick="location.href='buzzwords.html'">Buzzwords</button>
        <button onclick="location.href='biomes.html'">Biomes</button>
        <button onclick="location.href='vote.html'">Vote a Biome!</button>
        <h3>Authors</h3>
        <button onclick="location.href='about.html'">About Us</button>
      </nav>
    </aside>

    <main class="content">
      <h1>Biomes</h1>
      <hr>
      

      <p style="color: white; font-size: large; text-align: center;">Biomes in Minecraft are a core aspect of the game, they provide the game with many varieties of terrain that the player can explore. Across the 3 dimensions in Minecraft there are 64 unique biomes, each with their own different 
        features and looks.
      </p>

        <div class="dButton">
        <button class="Nether" onclick="location.href='#The Nether'">The Nether</button>
        <button class="End" onclick="location.href='#The End'">The End</button>
        </div>
      
    
      <section id="The Overworld">
      <div class ="header">
        <h2 style="text-align: center;">The Overworld</h2>
      


      <div class="text-image-wrap">   
        <div class="text-block">
          <h3>Plains</h3>
          <p>Plains are areas in minecraft with mostly flat terrain and may sparingly contian trees, but there are more unique subtypes that differ from that. In Minecraft there are 7 types of plains biomes: plains, ice plains, ice spikes plains, sunflower plains, snowy plains, mushroom field, and savanna.</p>
        </div>
        <img src="static\pictures\Biome Pics\OW\plains.webp" alt="MinecraftLogo" height="275" sizes="500">
        
        </div>
      </div>

      <div class="text-image-wrap">   
        <div class="text-block">
          <h3>Woodlands</h3>
          <p>Among all the biomes in The Overworld, and Minecraft in general, woodlands are the most recognizable and common becasue of their abundance in trees and stunning landscapes. There are several woodlands biomes in Minecraft: forest, birch forest, dark forest,
            flower forest, old growth birch forest, taiga, olf growth spruce taiga, old growth pine taiga, snowy taiga, jungle, bamboo jungle, sparse jungle, sparse jungle, grove, cherry grove, and pale garden.
          </p>
        </div>
        <img src="static\pictures\Biome Pics\OW\forest.webp" alt="MinecraftLogo" height="275" sizes="500">
      </div>

      <div class="text-image-wrap">   
        <div class="text-block">
          <h3>Caves</h3>
          <p>Caves are an integeral part of Minecraft's gameplay, It gives players easy access to underground resources and structures. There are only 3 biomes that exist in caves: the deep dark, dripstone caves, and lush caves</p>
        </div>
        <img src="static\pictures\Biome Pics\OW\Deep_Dark_Light.webp" alt="MinecraftLogo" height="275" sizes="500">
      </div>

      <div class="text-image-wrap">   
        <div class="text-block">
          <h3>Sandy Areas</h3>
          <p>"It's coarse and rough and irritating and it gets everywhere...", thankfully not in Minecraft, sandy areas are just as the name implies, sandy. There are 6 sandy area biomes in Minecraft: badlands, wooded badlands, eroded badlands, beach, snowy beach, and desert.</p>
        </div>
        <img src="static\pictures\Biome Pics\OW\desert.webp" alt="MinecraftLogo" height="275" sizes="500">
      </div>

      <div class="text-image-wrap">   
        <div class="text-block">
          <h3>Water Areas</h3>
          <p>From oceans to rivers, water areas can encompass a signfifcant portion of a minecraft world. Among these biomes, plenty of aquatic life and treasure can be here. There are 8 water area biomes in Minecraft: river, frozen river, ocean, deep ocean, frozen ocean, lukewarm ocean, and warm ocean.</p>
        </div>
        <img src="static\pictures\Biome Pics\OW\ocean.webp" alt="MinecraftLogo" height="275" sizes="500">
      </div>

      <div class="text-image-wrap">   
        <div class="text-block">
          <h3>Mountains</h3>
          <p>One of the visually best looking biomes in Minecraft, Mountains can reach beyond the clouds and make good attempts at reaching the world height limit. Mountains make a great biome to build a castle or other fortified base. There are several
            mountain biomes in Minecraft: jagged peaks, frozen peaks, stony peaks, snowy slopes, windswept hills, windswept forest, windswept gravelly hills, meadow, stony shores, savanna plateau, and windswept savanna.
          </p>
        </div>
        <img src="static\pictures\Biome Pics\OW\r8n3k9kfyn381.png" alt="MinecraftLogo" height="275" sizes="500">
      </div>

      <div class="text-image-wrap">   
        <div class="text-block">
          <h3>Swamps</h3>
          <p>Who could forget the swamp biomes? With It's shallow waters and unique wildlife, along with tress, vines, and lily pads, Its a lovable muggy local. There are only two types of swamps in Minecraft: swamp and mangrove swamp.</p>
        </div>
        <img src="static\pictures\Biome Pics\OW\swamp.webp" alt="MinecraftLogo" height="275" sizes="500">
      </div>
    </section>

    <div class="dButton">
      <button class="OW" onclick="location.href='#The Overworld'">The Overworld</button>
      <button class="End" onclick="location.href='#The End'">The End</button>
      </div>

    <section id="The Nether">
      <div class ="header">
        <h2 style="text-align: center;">The Nether</h2>

        <div class="text-image-wrap">   
          <div class="text-block">
            <h3>Nether Wastes</h3>
            <p>The most iconic biome in The Nether, this inhosbitable area is mostly made up of netherrack with glowstone spread upon the ceiling of The Nether. Lava lakes are common here aswell so be sure to watch your step!</p>
          </div>
          <img src="static\pictures\Biome Pics\TN\Nether_Wastes.webp" alt="MinecraftLogo" height="275" sizes="500">
        </div>

        <div class="text-image-wrap">   
          <div class="text-block">
            <h3>Soul Sand Valley</h3>
            <p>Be preppared to go very slow here without the right equipment, soul sand and soul soil are the most abundant blocks here along with skeletons being very common too.</p>
          </div>
          <img src="static\pictures\Biome Pics\TN\1200px-Soul_Sand_Valley.webp" alt="MinecraftLogo" height="275" sizes="500">
        </div>

        <div class="text-image-wrap">   
          <div class="text-block">
            <h3>Basalt Deltas</h3>
            <p>Arguably the most treachourous and most stunning biome in The Nether to travel through, the basalt deltas's terrain mimics real-life basalt formations from active volcanoes. Given the lava hazord and the fact that magmacubs spawn here, be sure to come here prepared.</p>
          </div>
          <img src="static\pictures\Biome Pics\TN\BasaltDeltas.webp" alt="MinecraftLogo" height="275" sizes="500">
        </div>

        <div class="text-image-wrap">   
          <div class="text-block">
            <h3>Crimson Forests</h3>
            <p>One of the only biomes in The Nether to contain tree like plants and therefore wood, the crimson forests is a useful biome to stumple upon in the nether. be sure to steer clear of the piglins and hoglins if you dont have the proper resources.</p>
          </div>
          <img src="static\pictures\Biome Pics\TN\Crimson_Forest.webp" alt="MinecraftLogo" height="275" sizes="500">
        </div>

        <div class="text-image-wrap">   
          <div class="text-block">
            <h3>Warped Forests</h3>
            <p>Another foresty biome in The Nether with a more bluish tint, but since only endermen and striders spawn here, this makes the warped forests the safest biome in The Nether to explore. </p>
          </div>
          <img src="static\pictures\Biome Pics\TN\Warped_Forest.webp" alt="MinecraftLogo" height="275" sizes="500">
        </div>

      </div>

      <div class="dButton">
        <button class="OW" onclick="location.href='#The Overworld'">The Overworld</button>
        <button class="Nether" onclick="location.href='#The Nether'">The Nether</button>
        </div>

    </section>


    <section id="The End">
      <div class ="header">
        <h2 style="text-align: center;">The End</h2>

        <div class="text-image-wrap">   
          <div class="text-block">
            <h3>The End</h3>
            <p>The central island the player is greeted with upon entering The End. Home to the Ender Dragon, obsidian pillars and the exit portal</p>
          </div>
          <img src="static\pictures\Biome Pics\TE\The_End.webp" alt="MinecraftLogo" height="275" sizes="500">
        </div>

        <div class="text-image-wrap">   
          <div class="text-block">
            <h3>End Barrens</h3>
            <p>As the name implies, this biome is barren of anything interesting apart from the endermen that spawn here</p>
          </div>
          <img src="static\pictures\Biome Pics\TE\1200px-End_Barrens.webp" alt="MinecraftLogo" height="275" sizes="500">
        </div>

        <div class="text-image-wrap">   
          <div class="text-block">
            <h3>End Highlands</h3>
            <p>Located at a higher elevation than other biomes in The End, end cities and chorus fruits can appear here.</p>
          </div>
          <img src="static\pictures\Biome Pics\TE\u1oya2mkod951.png" alt="MinecraftLogo" height="275" sizes="500">
        </div>

        <div class="text-image-wrap">   
          <div class="text-block">
            <h3>End Midlands</h3>
            <p>Similar to the end highlands, end cities can be seen here, althouhg surprisingly chorus fruis does not.</p>
          </div>
          <img src="static\pictures\Biome Pics\TE\endMidlands.png" alt="MinecraftLogo" height="275" sizes="500">
        </div>

        <div class="text-image-wrap">   
          <div class="text-block">
            <h3>Small End Islands</h3>
            <p>Small floating islands make up this biome, they make for useful platforms to travel the Outer End with.</p>
          </div>
          <img src="static\pictures\Biome Pics\TE\endislands.png" alt="MinecraftLogo" height="275" sizes="500">
        </div>
        

      </section>
    </main>
  </div>
</body>
</html>
