<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HIC Project</title>
  <link rel="icon" type="image/x-icon" href="/static/pictures/creeperIcon.png">
  <link rel="stylesheet" href="/static/styles/buzz.css">
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <div class="logo">
        HIC Project<br>Group Nine
      </div>
      <nav>
        <button onclick="location.href='index.html'">Home</button>
        <button onclick="location.href='info.html'">Info</button>
        <h3>Topics</h3>
        <button onclick="location.href='generated.html'">Generated Structures</button>
        <button onclick="location.href='tech.html'">Technical</button>
        <button onclick="location.href='other.html'">Other Media</button>
        <button onclick="location.href='buzzwords.html'">Buzzwords</button>
        <button onclick="location.href='biomes.html'">Biomes</button>
        <button onclick="location.href='vote.html'">Vote!</button>
        <h3>Authors</h3>
        <button onclick="location.href='about.html'">About Us</button>
      </nav>
    </aside>

    <main class="content">
      <h1>Top 10 Buzzfeeds</h1>
      <hr>
      <div class="text-image-wrap">
        <div class="text-block">

          <img src="https://i.kinja-img.com/image/upload/c_fit,q_60,w_645/7242967482747b024e081409a9d289a7.jpg" alt="minecraft" style="float: right;" height="275">
          <div class="audio-box">
            <h2>1. I am Steve!</h2>
            <audio id="IAmSteve" src="/static/audio/i-am-steve.mp3" controls></audio>
          </div>

          <img src="https://pyxis.nymag.com/v1/imgs/151/fea/4faccaf72b08edbad71398f88c669f5465-chicken-jockey-minecraft.2x.rsocial.w600.jpg" alt="minecraft" style="float: right;" height="275">
          <div class="audio-box">
            <h2>2. Chicken Jockey</h2>
            <audio id="CHICKEN" src="/static/audio/chicken-jockey.mp3" controls></audio>
          </div>

          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwID5I4B7zZTfS41RULgYqVdwA4zjgyogFVA&s" alt="minecraft" style="float: right;" height="275">
          <div class="audio-box">
            <h2>3. Flint and Steel</h2>
            <audio id="Flint" src="/static/audio/flint-and-steel.mp3" controls></audio>
          </div>

          <img src="https://static.wikia.nocookie.net/63cfdbcc-f417-437d-bc73-0aee0d173b6a/scale-to-width/755" alt="minecraft" style="float: right;" height="275">
          <div class="audio-box">
            <h2>4. As a child, I yearned for the mines</h2>
            <audio id="AsAChild" src="/static/audio/as-a-child-i-yearned-for-the-mines.mp3" controls></audio>
          </div>

          <img src="https://i.kym-cdn.com/entries/icons/facebook/000/053/719/the-nether-meme.jpg" alt="minecraft" style="float: right;" height="275">
          <div class="audio-box">
            <h2>5. The Nether!</h2>
            <audio id="TheNether" src="/static/audio/the-nether-minecraft-movie.mp3" controls></audio>
          </div>

          <img src="https://i.ytimg.com/vi/l3B1BYKSZEY/mqdefault.jpg" alt="minecraft" style="float: right;" height="275">
          <div class="audio-box">
            <h2>6. First we mine, then we craft</h2>
            <audio id="FirstWeMine" src="/static/audio/first-we-mine.mp3" controls></audio>
          </div>

          <img src="https://external-preview.redd.it/water-bucket-release-v0-amdwYWtya29ldGxlMcFU_xBlJvtJz7_QJj5qhbNb9vfMgIz4hCG8mHbxwrf1.png?format=pjpg&auto=webp&s=8119f51b583e31148ce846ce6d6ea6fb7c6e9d6a" alt="minecraft" style="float: right;" height="275">
          <div class="audio-box">
            <h2>7. Water Bucket... Release!</h2>
            <audio id="Waterbucket" src="/static/audio/water-bucket-release.mp3" controls></audio>
          </div>

          <img src="https://preview.redd.it/has-nobody-brought-up-how-delicious-steves-lava-chicken-v0-aqbgsckidhre1.png?auto=webp&s=3145800a134db8c9ee937dcb89f8efdf4bf9c189" alt="minecraft" style="float: right;" height="275">
          <div class="audio-box">
            <h2>8. Lava Chicken</h2>
            <audio id="LavaChicken" src="/static/audio/steves-lava-chicken.mp3" controls></audio>
          </div>

          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNLEA0zwLSvoKwZ6UpX1He5QV8AKWz5p0j8g&s" alt="minecraft" style="float: right;" height="275">
          <div class="audio-box">
            <h2>9. Comin' in Hot</h2>
            <audio id="CominInHot" src="/static/audio/steve-coming-in-hot.mp3" controls></audio>
          </div>

          <img src="https://i.ytimg.com/vi/PFSgR6XpvY4/maxresdefault.jpg" alt="minecraft" style="float: right;" height="275">
          <div class="audio-box">
            <h2>10. Ender Pearl</h2>
            <audio id="EnderPearl" src="/static/audio/an-ender-pearl.mp3" controls></audio>
          </div>

        </div> <!-- closes text-block -->
      </div> <!-- closes text-image-wrap -->
    </main>

  </div>
</body>
</html>
