<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- important for responsiveness -->
  <title>Information</title>
  <link rel="stylesheet" href="/static/styles/index.css">
  <link rel="icon" type="image/x-icon" href="/static/pictures/creeperIcon.png">
</head>

<style>
</style>

<body>
  <div class="container">
    <aside class="sidebar">
      <div class="logo">
        HIC Project<br>Group Nine
      </div>
      <nav>
        <button onclick="location.href='index.html'">Home</button>
        <button onclick="location.href='info.html'">Info</button>
        <h3>Topics</h3>
        <button onclick="location.href='generated.html'">Generated Structures</button>
        <button onclick="location.href='tech.html'">Technical</button>
        <button onclick="location.href='other.html'">Other Media</button>
        <button onclick="location.href='buzzwords.html'">Buzzwords</button>
        <button onclick="location.href='biomes.html'">Biomes</button>
        <button onclick="location.href='vote.html'">Vote a Biome!</button>
        <h3>Authors</h3>
        <button onclick="location.href='about.html'">About Us</button>
      </nav>
    </aside>

    <main class="content">
      <h1>Info</h1>
      <hr>

    
 
    
     
      

      
   
        <div class="text-image-wrap">  
            <div class="text-block">
                <h2 style="text-align: left;">Popularity</h2>
                <p>Minecraft is the best-selling game of all time, out-selling even Tetris, with over 300 million copies sold across all popular video game platforms.</p>
                
            </div>
            <img src="static\pictures\Minecraft-header.jpg" alt="MinecraftLogo" height="275" sizes="500">
        </div>
    

       
        <div class="text-image-wrap">  
            <img src="static\pictures\Minecraft-Average-Monthly-Active-Users-Over-The-Years.webp" alt="MinecraftLogo" height="500" sizes="500">
        <div class="text-block" style="text-align: right;">
            <h2 style="text-align: right;">Current Fanbase</h2>
            <p>As of December of 2024, Minecraft has around 204 million active players.</p>
        </div>
        </div>

        <div class="text-image-wrap"> 
        <div class="text-block">
            <h2 style="text-align: left;">History</h2>
            <p>Regular in-person conventions known as MINECON were hosted by Mojang Studios from 2011 to 2016.</p>
        </div>
        <img src="static\pictures\maxresdefault.jpg" alt="MinecraftLogo" height="275" sizes="500">
        </div>

        <div class="text-image-wrap"> 
            <img src="static\pictures\Minecraft-Revenue-1024x576.jpg" alt="MinecraftLogo" height="500" sizes="500">
        <div class="text-block" style="text-align: right;">
            
            <h2 style="text-align: right;">Success</h2>
            <p>Since it's launch in 2011, Minecraft has made an estimated $3 billion dollars in revenue.</p>
        </div>
        </div>
        
        
        
        </div>
      </div>

      </section>
    </main>
  </div>
</body>
</html>
