<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HIC Project</title>
  <link rel="stylesheet" href="/static/styles/index.css">
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <div class="logo">HIC Project<br>Group Nine</br> </div>
      <nav>
        <button onclick="location.href='index.html'">Home</button>
        <button onclick="location.href='info.html'">Info</button>
        <h3>Topics</h3>
        <button onclick="location.href='generated.html'">Generated Structures</button>
        <button onclick="location.href='tech.html'">Technical</button>
        <button onclick="location.href='other.html'">Other Media</button>
        <button onclick="location.href='biomes.html'">Biomes</button>
        <button onclick="location.href='vote.html'">Vote a Biome!</button>
        <h3>Authors</h3>
        <button onclick="location.href='about.html'">About Us</button>
      </nav>
    </aside>
    <main class="content">
      <h1>Template Title</h1>
      <hr>
      <p style="color: white;">Fortnite Battlepass</p>
      <div class="text-image-wrap">
        <div class="text-block">
          <h2>Subtitle 1</h2>
          <p>More placeholder text explaining the topic...</p>
        </div>
        <div class="image-placeholder">Image Placeholder</div>
      </div>
      
      <div class="text-image-wrap">
        <div class="text-block">
          <h2>Subtitle 2</h2>
          <p>Even more text describing this section...</p>
        </div>
        <div class="image-placeholder">Image Placeholder</div>
      </div>
      
    </main>
  </div>

</body>
</html>
