<!-- Sandy Zhang -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HIC Project</title>
  <link rel="stylesheet" href="/static/styles/index.css">
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <div class="logo">HIC Project<br>Group Nine</br> </div>
      <nav>
        <button onclick="location.href='index.html'">Home</button>
        <button onclick="location.href='info.html'">Info</button>
        <h3>Topics</h3>
        <button onclick="location.href='generated.html'">Generated Structures</button>
        <button onclick="location.href='tech.html'">Technical</button>
        <button onclick="location.href='other.html'">Other Media</button>
        <button onclick="location.href='buzzwords.html'">Buzzwords</button>
        <button onclick="location.href='biomes.html'">Biomes</button>
        <button onclick="location.href='vote.html'">Vote!</button>
        <h3>Authors</h3>
        <button onclick="location.href='about.html'">About Us</button>
      </nav>
    </aside>
    <main class="content">
      <h1>Other Media</h1>
      <hr>
      <div class="text-image-wrap">
        <div class="text-block">
          <h2>A Minecraft Movie</h2>
          <p> <br>
            <br>A mysterious portal pulls four misfits into the Overworld, a bizarre, cubic wonderland that thrives on imagination. To get back home, they'll have to master the terrain while embarking on a magical quest with an unexpected crafter named Steve.<br>
            <br>Release date: April 4, 2025 (USA)<br>
            <br>Director: Jared Hess<br>
            <br>Running time: 1h 41m<br>
            <br>MPAA rating: PG<br>
            <br>Producers: Jason Momoa, Vu Bui, Torfi Frans Ólafsson, Jill Messick, Mary Parent, Roy Lee, Cale Boyter, Jon Berg<br>
            <br>Distributed by: Warner Bros. Pictures</p>
        </div>
        <div class="Minecraft_Movie">
          <img src="/static/pictures/minmove1.jpg" alt="Minecraft" style="float: right">
          
        </div>
      </div>
      
      <div class="text-image-wrap">
        <img src="/static/pictures/mincraftD.jpg" alt="Dungeons">
        <div class="text-block">
          <h2>Minecraft Dungeons</h2>
          <p><br>
            <br>Minecraft Dungeons is a 2020 dungeon crawler video game developed by Mojang Studios and Double Eleven and published by Xbox Game Studios. It is a spin-off of the sandbox video game Minecraft and was released for Nintendo Switch, PlayStation 4, Windows, and Xbox One in May 2020. Wikipedia<br>
            <br>Platforms: Nintendo Switch, PlayStation 4, Xbox One · See more<br>
            <br>Initial release date: May 26, 2020<br>
            <br>Genres: Dungeon crawl, Adventure game, Action role-playing game, Shooter game, Fighting game, Adventure<br>
            <br>Nominations: British Academy Games Award for Family, The Game Award for Best Family Game<br>
            <br>License: proprietary license<br>
            <br>Designers: Laura de Llorens Garcia, Matthew Dunthorne, Daniel Brynolf<br>
            <br>Developers: Mojang Studios, Double Eleven</p>
        </div>
      </div>
      <div class="text-image-wrap">
        <div class="text-block">
          <h2>Minecraft Card Game</h2>
          <p>The game aims to be the first player to earn the required points, with 24 points in a 2 player game, 20 points in a 3 player game, and 16 points in a 4 player game.<br>
            <br>Players shuffle resource and craft cards, and each player has a reserve card holder.<br>
            <br>On their turn, players can perform mine, craft, or reserve actions. <br>
            <br>Mine involves placing the top resource card from a resource pile, discarding a resource card if needed, and discarding a creeper if mined.<br>
            <br>Craft involves discarding resource cards matching the craft card recipe, and each tool has a special ability that can be used once. Tool abilities include swords, shovels, pick axes, axes, hoes, and crafting items.<br>
            <br>Reserves allow players to craft items at a later turn, but they cannot have a card already in their reserve.<br>
            <br>The first player to reach the required number of points wins.

          </p>
        </div>
        <div class="Minecraft_Dungeons">
          <img src="/static/pictures/minecraftC.jpg" alt="card_game" style="float: right; width: 408px; height: 745px">
        </div>
      </div>
      
    </main>
  </div>
</body>
</html>
